.cell-row {
  display: flex;
}
.cell {
  width: 80px;
  border: 1px solid lightgray;
  height: 40px;
  outline: none;
  box-sizing: border-box;
}
.cell:focus {
  background-color: #ddd;
  border: 3px solid lightblue;
}
.cell.header {
  text-align: center;
  background-color: #ddd;
}
.cell.header.active {
  background-color: lightblue;
  color: white;
}
